{% load static %}
<footer class="text-black mt-5" style="background-color: rgba(80, 77, 77, 0.2);">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <img src="{% static 'img/logo_onlyflans.png' %}" alt="OnlyFlans" width="300">
        <p>
          Bienvenidos a OnlyFlans. Llevamos amor y productos de la mejor calidad a tus seres queridos, directo desde
          nuestra cocina a tu hogar.
        </p>
      </div>

      <div class="col-lg-6 col-md-12 mb-4 mb-md-0 d-flex align-items-center justify-content-center"
        style="background-color: rgba(221, 211, 211, 0.2); padding: 20px;">
        <ul class="list-unstyled d-flex justify-content-center align-items-center m-0">
          <ul class="list-unstyled d-flex justify-content-center align-items-center m-0">
            <li class="mx-3">
              <a href="https://www.facebook.com" target="_blank" class="text-black"><i
                  class="fab fa-facebook fa-3x"></i></a>
            </li>
            <li class="mx-3">
              <a href="https://twitter.com" target="_blank" class="text-black"><i class="fa-brands fa-x-twitter fa-3x"></i></i></a>
            </li>
            <li class="mx-3">
              <a href="https://www.instagram.com" target="_blank" class="text-black"><i
                  class="fab fa-instagram fa-3x"></i></a>
            </li>
            <li class="mx-3">
              <a href="https://www.youtube.com" target="_blank" class="text-black"><i
                  class="fab fa-youtube fa-3x"></i></a>
            </li>
            <li class="mx-3">
              <a href="https://www.tiktok.com" target="_blank" class="text-black"><i
                  class="fab fa-tiktok fa-3x"></i></a>
            </li>
          </ul>

        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 OnlyFlans. Todos los derechos reservados.
  </div>
</footer>