<!-- templates/index.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <header class="row mb-4">
        <div class="col text-center">
            <h1>Acerca de Nuestra Tienda</h1>
        </div>
    </header>

    <section class="informacion row">
        <div class="col-md-6">
            <div class="mb-4">
                <h2>Nuestra Historia</h2>
                <p>OnlyFlans fue fundada en el año 2020, con la visión de ofrecer a los amantes de los postres una
                    experiencia única con flanes artesanales y de calidad.</p>
            </div>
            <div class="mb-4">
                <h2>Nuestro Propósito</h2>
                <p>Nuestro propósito es deleitar a nuestros clientes con flanes elaborados con ingredientes frescos y
                    naturales, siguiendo recetas tradicionales que garantizan un sabor inigualable.</p>
            </div>
            <div>
                <h2>Nuestra Misión</h2>
                <p>Nuestra misión es ser reconocidos como la mejor tienda de flanes de la región, comprometidos con la
                    calidad, la innovación y la satisfacción de nuestros clientes.</p>
            </div>
        </div>
        <div class="col-md-6">
            <img id="img-a" src="https://i.blogs.es/93a637/650_1000_pastelerias-mundo/1366_2000.jpg" class="img-fluid"
                alt="Foto de la tienda de flanes">
        </div>
    </section>
</div>
{% endblock %}