<!-- templates/welcome.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <div style="padding: 2%;">
  <h2 class="text-center tracking-text" style="color: #4169e1;">Bienvenido {{ user.username }}</h2>
  <h2 class="text-center tracking-text" style="color: #4169e1;">Estos son Todos Nuestro Flanes</h2>
  </div>
  <div class="row row-cols-1 row-cols-md-4 mt-4 mb-3">
    {% for flan in flanes %}
    <div class="col mb-4">
      <div class="card h-100 mx-auto zoom-card">
        <img src="{{ flan.imagen_url }}" class="card-img-top" alt="{{ flan.nombre }}">
        <div class="card-body text-center">
          <h5 class="card-title">{{ flan.nombre }}</h5>
          <p class="card-text">{{ flan.descripcion }}</p>
        </div>
        <div class="card-footer text-center">
          <h4 class="card-text">
            <span class="precio">${{ flan.precio }}</span>
          </h4>
          <a href="#" class="card-link">Más información</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}